@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Noto+Serif+TC:wght@300;500&display=swap');
:root {
    --info-blue: #0dcaf0;
    --danger-red: #dc3545;
}

@media screen and (min-width:768px) {
     :root {
        --bgImgWidth: 100vw;
        --carouselFontSize: 9rem;
    }
    footer .contact-info {
        display: flex;
        justify-content: center;
    }
    #cart .cart-title {
        display: flex;
    }
}

@media screen and (min-width:992px) {
    header .cart-quantity {
        color: white;
        font-weight: 100;
        text-align: center;
        font-size: .8rem;
        line-height: .8rem;
        background-color: var(--danger-red);
        padding: 4px 5px;
        border-radius: 25%;
        position: absolute;
        top: 0;
        margin-left: 2px;
    }
    header .cart-quantity::before {
        content: "";
    }
    header .cart-quantity::after {
        content: "";
    }
    #cart .cart-place {
        display: flex;
    }
}

@media screen and (max-width:991.9px) {
    #product .vertical-nav {
        display: none;
    }
    header .cart-quantity::before {
        content: "(";
    }
    header .cart-quantity::after {
        content: ")";
    }
}

@media screen and (max-width:767.9px) {
     :root {
        --bgImgHeight: 100vh;
        --carouselFontSize: 3rem;
    }
    #cart .cart-title {
        text-align: center;
    }
}

h1,
h2,
h3,
h4,

/* span, */

.lead {
    font-family: 'Noto Serif TC', serif;
}

span,
h5,
p,
a,
label,
input,
textarea,
ul,
li,
small {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

header .dropdown-item:active {
    background-color: var(--info-blue);
}

header .cart-place {
    position: relative;
}


/* header .cart-quantity::before {
    content: "(";
}

header .cart-quantity::after {
    content: ")";
} */

#intro {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#intro img {
    width: var(--bgImgWidth);
    height: var(--bgImgHeight);
    position: relative;
}

#intro .container-fluid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#intro h1 {
    font-size: calc(2.5rem + 2vw);
}

#intro .btn {
    border: 1px solid white;
    color: white;
    font-weight: 300;
    padding: 9px 16px;
    border-radius: 50vh;
    transition: .3s;
}

#intro .btn.btn-important {
    background-color: rgba(255, 255, 255);
    color: #3f3f3f;
    margin-left: 15px;
    opacity: 0.9;
}

#intro .btn:hover {
    box-shadow: 0 0 5px #fff;
    transition: .3s;
    font-size: 1.1rem;
    padding: calc(9px - 0.1rem) calc(16px - 0.2rem);
}

#intro .btn.btn-important:hover {
    opacity: 1
}

#intro .btn:visited {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    font-size: 1rem;
}

#desc h3 {
    font-size: 1.8rem;
}

#desc .circle-picture-frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: gray;
    overflow: hidden;
}

#coffee .carousel-item>div {
    width: 100%;
    height: 500px;
    background: gray;
    display: grid;
    place-items: center;
    position: relative;
}

#coffee .carousel-item>div span {
    position: absolute;
    color: rgba(255, 255, 255, .7);
    font-size: var(--carouselFontSize);
}

#coffee .carousel-item>div img {
    width: var(--bgImgWidth);
    height: var(--bgImgHeight);
    position: relative;
}

#coffee #carousel-outside span {
    z-index: 5;
}

#store-map iframe {
    width: 100%;
    height: 450px;
}

footer .quote-info {
    position: absolute;
    font-size: .9rem;
    right: 10px;
}

footer .quote-info svg {
    width: .9rem;
}

#product .vertical-nav li {
    cursor: pointer;
}

#product .vertical-nav li a.border-left-color {
    border-left: skyblue 4.5px solid;
}

#cart .cart-place {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(100, 100, 100);
}

#cart .change-quantity-place {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart .cart-quantity-input {
    width: 50px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    border-radius: 5px;
    text-align: center;
    font-size: .9rem;
    /*配合icon，視覺微調*/
    margin-top: .3rem;
}

#cart .trash-icon {
    color: rgba(100, 100, 100);
    padding-left: 7px;
}

#cart .cart-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart .cart-total .btn {
    width: 10rem;
    margin-left: 50px;
    background-color: var(--info-blue);
    color: #fff;
    filter: grayscale(30%);
}

#cart .cart-total .btn:hover {
    filter: grayscale(0);
    transition: .3s
}